<!DOCTYPE html>
<html>
    <Head>
        <style>
        body{background: blueviolet; font-family: Verdana; color: white; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase;letter-spacing: 2px;text-align: center;}
        p{font-size: 100px;text-align: center;}
        </style>
    </Head>
    <body>
        <h1>This this my first HTML in Visual Studio Code</h1>
        <p>this is the best website ever created!</p>
    </body>
</html>
